<html lang="en">

<head>
    <%- include('../includes/head.ejs')%>
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs', {page: 'index'})%>
    <h2>Welcome</h2>
</body>
